# Define the compiler and flags
CC = i686-elf-gcc    # Add C compiler
AS = i686-elf-as
LD = i686-elf-gcc
SRC_DIR = kernel
USERSPACE_DIR = userspace
SHARED_DIR = shared
OBJ_DIR = obj
SHARED_FLAGS = -g -mpreferred-stack-boundary=2 -mgeneral-regs-only -fno-pic -ffreestanding -O2 -Wall -Wextra -std=gnu99
SHAREDCFLAGS = $(SHARED_FLAGS) -I$(SHARED_DIR)/headers/
CFLAGS = $(SHAREDCFLAGS) -I$(SRC_DIR)/headers/
USERCFLAGS = $(SHAREDCFLAGS) -I$(USERSPACE_DIR)/headers/
ASFLAGS = -g
LDFLAGS = -no-pie -nostdlib -lgcc -z noexecstack

# Define the build target
ALL: build iso

test: build clean